@import "tailwindcss";

@theme {
  --color-background: #0f0f11;

  --color-surface: #18181b;
  --color-surface-highlight: #27272a;

  --color-primary: #8b5cf6;
  --color-primary-hover: #7c3aed;

  --color-text-primary: #f4f4f5;
  --color-text-secondary: #a1a1aa;

  --color-border: #27272a;

  --font-sans: "Inter", sans-serif;
  --radius: 12px;
}

/* Custom Utilities */
@utility glass {
  @apply bg-surface/80 backdrop-blur-md border border-white/10;
}

@utility glass-card {
  @apply bg-surface border border-border rounded shadow-lg;
}